body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #14213d;
  --color2: #fca311;
  --color3: #e5e5e5;
  --color4: #193a7f;
  --color: #e7195a;
  --site-width: 1280px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

button {
  background-color: var(--color1);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
